/* Container where the elements will be at the edges, in the middle even space. */
.container-element-edge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

/* This will create buttons with <a> tag. */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  text-align: center;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;

  color: var(--color-accent);
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: var(--color-accent);

  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-accent);
  color: var(--background-primary);
}
.button.documentation {
  border-color: var(--code-string);
  color: var(--code-string);
}

.button.documentation:hover {
  background-color: var(--code-string);
  color: var(--background-primary);
}

