.callout-title {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 1.1em;
  align-items: center;
}

body.ctp-macchiato .callout-title .callout-icon,
body.ctp-mocha .callout-title .callout-icon {
  width: 15px;
  height: 14px;
  flex-shrink: 0;
}
